@import "tailwindcss";

@theme {
  --color-peach: #fef3e2;
  --color-yellow: #f3c623;
  --color-amber: #ffb22c;
  --color-tangerine: #fa812f;
}

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
